# SQLAlchemy – podstawy pracy z ORM


[v2.0 docs](https://docs.sqlalchemy.org/en/20/tutorial/index.html)

[v1.4 docs](https://docs.sqlalchemy.org/en/14/orm/tutorial.html)

In [ ]:
import sqlalchemy


sqlalchemy.__version__  # wersja >=2.0.0

## Połączenie z bazą danych

### `engine`

In [ ]:
from sqlalchemy import create_engine


engine = create_engine("postgresql+psycopg://postgres:postgres@localhost:5432/postgres", future=True)  # , echo=True <-- verbosity

### `DeclarativeBase`

In [ ]:
from sqlalchemy.orm import DeclarativeBase, declarative_base


# Starsze rozwiązanie, które wciąż działa, ale w przyszłości może zostać uznane za deprecated
Base = declarative_base()


# Obecnie rekomendowane rozwiązanie
class Base(DeclarativeBase):
    pass

## Tabela i klasa jako model danych

### Tworzymy klasę

Poniższy zapis definiowania kolumn nie jest zgodny z najnowszą dokumentacją, ale jest bardziej naturalny i od niego zaczniemy. W istniejącym kodzie częściej można sie spotkać właśnie z nim.

Porównaj dokumentację:
- [Starszy zapis](https://docs.sqlalchemy.org/en/14/tutorial/metadata.html#declaring-mapped-classes)
- [Nowszy zapis](https://docs.sqlalchemy.org/en/20/tutorial/metadata.html#declaring-mapped-classes)

In [ ]:
from sqlalchemy import Column, Integer, String, Text, Boolean, Date, Float, DateTime
from datetime import datetime, timedelta


class User(Base):
    __tablename__ = "users"

    user_id = Column("id", Integer, primary_key=True, autoincrement=True)
    username = Column(String(50), unique=True, nullable=False)
    password = Column(Text, nullable=False)
    email = Column("email_address", String(255), unique=True, nullable=False)
    is_active = Column(Boolean, default=True)
    date_of_birth = Column(Date)
    created_at = Column(DateTime, default=datetime.now)
    
    def __repr__(self) -> str:
        return f"User(id={self.user_id}, username={self.username})"

### Mapowanie klasy na tabelę

Odpowiednik `CREATE`

Aktualnie tabela `users` nie występuje w bazie danych.

In [ ]:
Base.metadata.create_all(bind=engine)

Teraz już tam jest.

### Tworzenie instancji klasy (i rekordów w tabeli)

Odpowiednik `INSERT`

In [ ]:
user1 = User(username="user1", password="password1", email="email.1@address.com")

In [ ]:
user1.__dict__

In [ ]:
from sqlalchemy.orm import sessionmaker

SessionLocal = sessionmaker(engine, future=True)  # użycie nazwy SessionLocal jest konwencją, która zapobiega konfliktowi nazw z klasą Session, którą można zaimportować

**Sposób 1**

Dodając rekord do tabeli tym sposobem musimy pamiętać o zamknięciu sesji po jej otwarciu. Zaletą jest to, że mamy dostęp do atrybutów obiektu nawet po zamknięciu sesji.

In [ ]:
session = SessionLocal()

In [ ]:
session.add(user1)
session.commit()

In [ ]:
user1.username

In [ ]:
session.close()

In [ ]:
user1.username

**Sposób 2 - rekomendowany**

Dodając rekord do tabeli tym sposobem nie musimy ręcznie zamykać sesji. Jest on zalecany, jednak wiąże się z tym, że po dodaniu rekordu, odpowiadający mu obiekt zostaje odłączony od sesji.

In [ ]:
user2 = User(username="user2", password="password2", email="email.2@address.com")
user2.username

In [ ]:
with SessionLocal() as session:
    session.add(user2)
    session.commit()

In [ ]:
user1

**Sposób 3 - dopuszczalny**

W tym podejściu nie tworzymy obiektu, tylko od razu dodajemy określone wartości do tabeli.

In [ ]:
from sqlalchemy import insert

In [ ]:
stmt = insert(User).values(
        username="user3",
        password="password3",
        email="email.3@address.com"
    ).returning(User.user_id)


with SessionLocal() as session:
    result = session.execute(stmt)
    inserted_id = result.scalar_one()
    session.commit()

In [ ]:
inserted_id

---

Stworzymy teraz kilku kolejnych użytkowników:

In [ ]:
u4 = User(username="user_4", password="password_4", email="email_4")
u5 = User(username="user_5", password="password_5", email="email_5", date_of_birth="1990-04-05")
u6 = User(username="user_6", password="password_6", email="email_6", is_active=False)

In [ ]:
with SessionLocal() as session:
    session.add_all([u4, u5, u6])
    session.commit()

### Rollback

Jeżeli podczas jakiejś operacji pojawi się błąd, nie będziemy w stanie wykonać następnej operacji, dopóki nie wykonamy tzw. rollbacka.

**Uwaga:** jeśli używamy notacji z `with`, używanie rollbacka nie będzie konieczne

In [ ]:
duplicate_user = User(username="user1", password="password_1", email="email_1")

In [ ]:
session = SessionLocal()

In [ ]:
session.add(duplicate_user)
session.commit()

Teraz dodanie nowego (poprawnego) użytkownika również skończy się błędem:

In [ ]:
new_user = User(username="new_user_1", password="new_password_1", email="new_email_1")

session.add(new_user)
session.commit()

Należy wykonać rollback:

In [ ]:
session.rollback()

In [ ]:
new_user = User(username="new_user_1", password="new_password_1", email="new_email_1")

session.add(new_user)
session.commit()

In [ ]:
session.close()

> **ZADANIA**

## Wyciąganie danych z tabeli

Odpowiednik `SELECT`

### Wyciąganie wszystkich danych

Odpowiednik `SELECT * FROM table`

In [ ]:
from sqlalchemy import select

In [ ]:
with SessionLocal() as session:
    stmt = select(User)
    results = session.scalars(stmt).all()

In [ ]:
results

Poniżej znajduje się stary zapis (zakomentowany). Wciąż działa, ale w nowej wersji SQLAlchemy nie jest rekomendowany.

In [ ]:
# results = session.query(User).all()
# results

### Wyciąganie niektórych kolumn

Odpowiednik `SELECT column1, column2, FROM table`

Wynikiem nie jest lista obiektów, tylko lista tupli.

In [ ]:
with SessionLocal() as session:
    stmt = select(User.username, User.email)
    results = session.execute(stmt).all()
    # results = session.execute(stmt).mappings().all()  # <-- słowniki

In [ ]:
results

### Sprawdzenie wygenerowanego kodu SQL

Zapytania napisane w ORM można zamienić na czysty SQL. Robimy to w następujący sposób.

In [ ]:
with SessionLocal() as session:
    stmt = select(User.username, User.email)

    sql = stmt.compile(
        session.get_bind(),
        compile_kwargs={"literal_binds": True}
    )

In [ ]:
print(sql)

### Filtrowanie danych

Odpowiednik `WHERE`

Aby przefiltrować dane, musimy wywołać funkcję `where` na funkcji `select`.

In [ ]:
with SessionLocal() as session:
    stmt = select(User).where(User.user_id == 2)
    results = session.scalars(stmt).all()

results

Zamiast funkcji `all()` na końcu możemy użyć funkcji `first()` lub `one()`. 

Pierwsza z nich zwraca pierwszy rekord spośród zbioru jednego lub więcej rekordów. Druga – również zwraca pierwszy wynik, ale gdyby zapytanie zwróciło ich więcej, spowoduje błąd.

In [ ]:
with SessionLocal() as session:
    stmt = select(User).where(User.user_id == 2)
    result = session.scalars(stmt).first()

result

In [ ]:
with SessionLocal() as session:
    stmt = select(User).where(User.user_id >= 2)
    result = session.scalars(stmt).first()

result

---

In [ ]:
with SessionLocal() as session:
    stmt = select(User).where(User.user_id == 2)
    result = session.scalars(stmt).one()

result

In [ ]:
with SessionLocal() as session:
    stmt = select(User).where(User.user_id >= 2)
    result = session.scalars(stmt).one()

result

### Łączenie warunków spójnikami logicznymi


Podczas filtrowania możemy łączyć warunki spójnikami `AND` oraz `OR`.

**`AND`**

In [ ]:
with SessionLocal() as session:
    stmt = select(User).where(
        User.is_active.is_(True),
        User.date_of_birth.is_(None)
    )
    results = session.scalars(stmt).all()


results

In [ ]:
len(results)

**`OR`**

In [ ]:
from sqlalchemy import or_

In [ ]:
with SessionLocal() as session:
    stmt = select(User).where(
        or_(
            User.is_active.is_(True),
            User.date_of_birth.is_(None)
        )
    )
    results = session.scalars(stmt).all()

results

In [ ]:
len(results)

### Filtrowanie elementów należących do zbioru

In [ ]:
with SessionLocal() as session:
    stmt_in = select(User).where(
        User.username.in_(["user_1", "user_2", "user_3"])
    )
    users_in = session.scalars(stmt_in).all()

    
    stmt_not_in = select(User).where(
        User.username.not_in(["user_1", "user_2", "user_3"])
    )
    users_not_in = session.scalars(stmt_not_in).all()

In [ ]:
users_in

In [ ]:
users_not_in

### Sortowanie wyników

Odpowiednik `ORDER BY`

Sortowanie rosnące po `created_at`:

In [ ]:
with SessionLocal() as session:
    stmt = select(User).order_by(User.created_at)
    sorted_users = session.scalars(stmt).all()

In [ ]:
sorted_users

Sortowanie malejące po `created_at`:

In [ ]:
from sqlalchemy import desc


with SessionLocal() as session:
    stmt = select(User).order_by(desc(User.created_at))
    sorted_users_desc = session.scalars(stmt).all()

In [ ]:
sorted_users_desc

Sortowanie po `date_of_birth` a następnie po `is_active`:

In [ ]:
with SessionLocal() as session:
    stmt = select(User).order_by(User.date_of_birth, User.is_active)
    sorted_users = session.scalars(stmt).all()

In [ ]:
sorted_users

In [ ]:
with SessionLocal() as session:
    stmt = select(User).order_by(desc(User.date_of_birth), User.is_active)
    sorted_users = session.scalars(stmt).all()

In [ ]:
sorted_users

### Groupby

Odpowiednik `GROUP BY`

In [ ]:
from sqlalchemy import func

Liczba userów aktywnych/nieaktywnych

In [ ]:
with SessionLocal() as session:
    stmt = select(User.is_active, func.count(User.user_id)).group_by(User.is_active)
    result = session.execute(stmt).all()

In [ ]:
result

Średnia długość hasła dla userów aktywnych/niekatywnych

In [ ]:
with SessionLocal() as session:
    stmt = select(
        User.is_active,
        func.avg(func.length(User.password))
    ).group_by(User.is_active)
    
    result = session.execute(stmt).all()

In [ ]:
result

### Funkcje matematyczne

Wyciągając dane, możemy je przekształcać funkcjami matematycznymi

In [ ]:
with SessionLocal() as session:
    stmt = select(func.sqrt(User.user_id))
    sqrt_user_id = session.scalars(stmt).all()

sqrt_user_id

In [ ]:
with SessionLocal() as session:
    avg_user_id = session.scalar(
        select(func.avg(User.user_id))
    )

avg_user_id

In [ ]:
func.exp, func.log, func.log2

### Złożone zapytania

Powyższe elementy możemy łączyć tworząc złożone zapytania.

In [ ]:
with SessionLocal() as session:
    stmt = (
        select(
            User.is_active,
            func.count(User.user_id).label("user_count"),
            func.avg(func.length(User.password)).label("avg_password_length")
        )
        .where(User.created_at.is_not(None))
        .group_by(User.is_active)
        .order_by(desc("avg_password_length"))
    )
    result = session.execute(stmt).all()


result

> **ZADANIA**

## Modyfikacja rekordów

`UPDATE`

In [ ]:
with SessionLocal() as session:
    user = session.scalars(
        select(User).where(User.user_id == 1)
    ).first()

    if user:
        user.username = "username_modified"
        session.commit()
    else:
        print("Użytkownik o podanym user_id nie istnieje")

## Usuwanie rekordów i tabeli

`DELETE`

In [ ]:
with SessionLocal() as session:
    user = session.scalars(
        select(User).where(User.user_id == 1)
    ).first()

    if user:
        session.delete(user)
        session.commit()
    else:
        print("Użytkownik o podanym user_id nie istnieje")

`TRUNCATE`

SQLAlchemy nie udostępnia obiektowej wersji polecenia `TRUNCATE`. Możemy więc albo wywołać na sesji czystego SQLa zawierającego odpowiednie zapytanie, albo zaimplementować własna metode w klasie `User`.

In [ ]:
from sqlalchemy import text

In [ ]:
with SessionLocal() as session:
    session.execute(text("TRUNCATE TABLE users RESTART IDENTITY;"))
    # RESTART IDENTITY - restartuje sekwencję wartości w kolumnie id
    
    session.commit()

In [ ]:
u1 = User(username="user_1", password="password_1", email="email_1")
u2 = User(username="user_2", password="password_2", email="email_2", date_of_birth="1990-04-05")
u3 = User(username="user_3", password="password_3", email="email_3", is_active=False)


with SessionLocal() as session:
    session.add_all([u1, u2, u3])
    session.commit()

---

In [ ]:
class User(Base):
    __tablename__ = "users"

    user_id = Column("id", Integer, primary_key=True, autoincrement=True)
    username = Column(String(50), unique=True, nullable=False)
    password = Column(Text, nullable=False)
    email = Column("email_address", String(255), unique=True, nullable=False)
    is_active = Column(Boolean, default=True)
    date_of_birth = Column(Date)
    created_at = Column(DateTime, default=datetime.now)
    
    
    def __repr__(self) -> str:
        return f"User(id={self.user_id}, username={self.username})"

    @staticmethod
    def truncate():
        with SessionLocal() as session:
            session.execute(text("TRUNCATE TABLE users RESTART IDENTITY"))
            session.commit()

In [ ]:
User.truncate(engine)

`DROP`

In [ ]:
User.__table__.drop(engine)

> **ZADANIA**